<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card form-container ">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <!---------------------------------------------------------------------------------->
    <mat-card-content class="form">


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            @if (addressForm.controls['email'].hasError('required')) {
            <mat-error>Email é<strong> obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="password" formControlName="password">
            @if (addressForm.controls['password'].hasError('required')) {
            <mat-error>A Senha é<strong> obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>


      

    </mat-card-content>

    <!---------------------------------------------------------------------------------->
    <mat-card-actions>
      <button mat-raised-button [disabled]="!addressForm.valid" color="primary" type="submit">Entrar</button>
    </mat-card-actions>
  </mat-card>
</form>