<p>Manipulando-json works!</p>

<div>
    <h1>Lista de Estudantes</h1>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>

                <th>
                    Nome
                </th>

                <th>
                    Email
                </th>

                <th>
                    Sexo
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Vamos acessar todos os dados daquele json e vamos varrer ele para mostrar na tela através do for -->
            <tr *ngFor="let student of students">
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.gender }}</td>
            </tr>
        </tbody>
    </table>
</div>
